fastapi
uvicorn
pydantic
python-dotenv
neo4j
faiss-cpu
sentence-transformers
tqdm
networkx
scikit-learn
openai
pydantic-settings
spacy
tqdm
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl